.form-control:focus {
  border-color: #259908;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075), 0 0 1px rgba(195, 96, 204, 0.6);
}
.form-select:focus {
  border-color: #259908;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075), 0 0 1px rgba(195, 96, 204, 0.6);
}
.form-control {
   border-radius: 10px !important;
}
@media ( min-width: 768px ) {
  .form-group{
    margin: 1rem !important ;
  }
}
.disabled-button {
  color: rgb(255, 251, 251);
  background-color: rgb(114, 114, 114);
}

.mat-h2, .mat-headline-6, .mat-typography .mat-h2, .mat-typography .mat-headline-6, .mat-typography h2{
 margin: 0 0 3px !important
}

ul>li{
  height: 3rem !important;
  font-size: 14px !important;
  border: dotted 1px #c5c2c2;
  border-left: none !important;
  border-right: none !important;
}
.badge-pill{
  color: rgb(36, 34, 37) !important;
  background-color: rgb(204, 199, 191) !important;
  font-size: 15px;
}

@media (max-width: 768px) {
  .checkout-summary{
  margin-top: 1rem !important;
  }
}