<mat-toolbar color="primary" style="height: 5rem">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>E Commerce</span>
  <span class="example-spacer"></span>

  <div class="col-4">
    <input type="text" placeholder="search" class="form-control" #searchInput />
  </div>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    (click)="onSearch()"
  >
    <mat-icon>search</mat-icon>
  </button>

 
  <mat-icon [matBadge]="noOfProduct" matBadgeColor="accent" style="margin-right: 2rem; cursor: pointer;" (click)="onCart()"
    >shopping_cart</mat-icon
  >
</mat-toolbar>
