.example-spacer {
  flex: 1 1 auto;
}

.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: -3px !important;
}
.mat-badge-medium.mat-badge-after .mat-badge-content {
  right: -11px;
}
.mat-badge-medium.mat-badge-above .mat-badge-content {
  top: -5px !important;
}
 