<div class="card mb-3 custom-card clickable-div" (click)="onProductClick()">
  <img
    [src]="product!.images[0]"
    class="card-img-top"
    [alt]="product?.title"
    style="max-height: 150px"
  />
  <div class="card-body">
    <h5 class="mat-h4">{{ product?.title }}</h5>
    <div style="display: flex; justify-content: space-between">
      <div>
        <p style="color: red">৳ {{ product?.price }}</p>
      </div>
      <div>
        <p>
          <span [ngStyle]="{ color: product?.stock! > 0 ? 'green' : 'black' }">
            Available in Stock </span
          >({{ product?.stock }})
        </p>
      </div>
    </div>
    <div style="text-align: center">
      <app-product-rating [rating]="product?.rating!"></app-product-rating>
    </div>
    <!-- <div
      class="row"
      (mouseover)="isHovered = true"
      (mouseout)="isHovered = false"
    >
      <button
        [ngClass]="{ 'show-button': isHovered }"
        type="button"
        mat-raised-button
        color="primary"
      >
        View Detail
      </button>
    </div> -->
  </div>
</div>
