.row h1 {
  color: rgb(138, 5, 116);
}

.row h1:hover {

  text-decoration: underline;
}

ul>li {

  color: rgb(37, 37, 37) !important;
  padding-left: 2rem !important;
  margin: .2rem;
  border-radius: 10px;
  background-color: rgb(247, 247, 247);
  padding: 5px;
  box-shadow: 2px 2px 5px rgba(165, 165, 165, 0.3);
  list-style: none;
  width: 50%;
  height: 10rem;
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  cursor: pointer;
}

ul>li:hover {
  font-weight: 400 !important;
  border-radius: 10px;
  padding: 1%;
  border: 1px solid rgb(221, 221, 221) !important;
  transform: translateX(2px);
}

.avatar {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.initials {
  user-select: none;
}