/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #F1F2F4;}


.app-container {
  display: flex;
  flex-direction: column;
  min-height: 150vh;
  /* 100% of the viewport height */
}

/* Ensure the main content area takes up the available space */
/* .app-container> :not(app-footer) {
  flex: 1;
} */